menuconfig VIDEO_SPEAR_HWVIDEO
	tristate "SPEAr video HW drivers"
	depends on ARCH_SPEAR13XX
	---help---
	  Support for SPEAr1340 video HW drivers.

config VIDEO_SPEAR_VIDEODEC
	tristate "SPEAr video decoder"
	depends on VIDEO_SPEAR_HWVIDEO
	select VIDEO_SPEAR_HWVIDEO_MEMALLOC
	---help---
	  Support for SPEAr1340 video decoders driver.

config VIDEO_SPEAR_VIDEODEC_DEBUG
	bool "SPEAr video decoder debug"
	depends on VIDEO_SPEAR_VIDEODEC
	default no
	---help---
	  Enable debug messages for SPEAr video decoder driver.

config VIDEO_SPEAR_VIDEOENC
	tristate "SPEAr video encoder"
	depends on VIDEO_SPEAR_HWVIDEO
	select VIDEO_SPEAR_HWVIDEO_MEMALLOC
	---help---
	  Support for SPEAr1340 video encoder driver.

config VIDEO_SPEAR_VIDEOENC_DEBUG
	bool "SPEAr video encoder debug"
	depends on VIDEO_SPEAR_VIDEOENC
	default no
	---help---
	  Enable debug messages for SPEAr video encoder driver.

config VIDEO_SPEAR_HWVIDEO_MEMALLOC
	tristate "SPEAr video decoder memory allocator"
	depends on VIDEO_SPEAR_HWVIDEO
	---help---
	  Support linear physical memory allocator for
	  SPEAr video decoder driver.

config VIDEO_SPEAR_HWVIDEO_MEMALLOC_DEBUG
	bool "SPEAr video decoder memory allocator debug"
	depends on VIDEO_SPEAR_HWVIDEO_MEMALLOC
	default no
	---help---
	  Enable debug messages for SPEAr video decoder physical memory
	  allocator.
