#
# C3 driver configuration
#

menu "C3 support"

config C3_DRIVER
	tristate "C3 driver"
	depends on ARCH_SPEAR3XX || ARCH_SPEAR13XX
	help
	  	C3 is a crypto accelerator.

choice
	depends on C3_DRIVER
	prompt "C3 device type"
	help
        C3 platform setting.

config C3_DRIVER_SPEARBASIC_REVA
    bool "C3 on Spearbasic rev-A" if ARCH_SPEAR300 || ARCH_SPEAR3XX
    help
    	C3 on Spearbasic rev-A.

config C3_DRIVER_SPEARBASIC_REVBA
    bool "C3 on Spearbasic rev-BA" if ARCH_SPEAR300 || ARCH_SPEAR3XX
 	help
    	C3 on Spearbasic rev-BA.

config C3_DRIVER_SPEAR13xx
    bool "C3 on Spear13xx" if ARCH_SPEAR13XX
    help
    	C3 on Spear13XX.

endchoice

config C3_DRIVER_DEBUG
	bool "Enable debug"
	depends on C3_DRIVER
	help
	  This setting enables debug.

config AUTO_TEST
	bool "C3 autotest on boot"
	help
	  This setting enables default kernel level testing for different
	  crypto algo. Say Y to enable it during kernel booting.

config C3_CRYPTOAPI_INTEGRATION
	tristate "C3 Linux-CryptoAPI Integration"
	depends on C3_DRIVER
		select CRYPTO_AES
        	select CRYPTO_ALGAPI
	        select CRYPTO_AUTHENC
        	select CRYPTO_BLKCIPHER
		select CRYPTO_AEAD
		select CRYPTO_HASH
		select CRYPTO_CBC
		select CRYPTO_CTR
		select CRYPTO_HMAC
	help
	  	Module for integration with Linux CryptoAPI (Kernel version 2.6.37).
	  	Support for offloading asynchronous AES(CTR,CBC), SHA-1,HMAC(SHA-1) operations to the C3 Hardware.

endmenu
